<launch>
  
    <node pkg="hayato_kazami" name="hayato_drive" type="hayato_drive.py"/>
    <node pkg="pca9685" name="pwm_control" type="pwm_control.py"/>
    <node pkg="raspi_sensehat" name="sensehat_sensor_acq" type="sensehat_sensor_acq.py" args="10 1 accxyz accrpy gyrxyz magxyz envall"/>
    <node pkg="raspi_picamera" name="picamera_frame_acq" type="picamera_frame_acq.py" args="sensor_mode=5 resolution=[820,466] framerate=10 resize=None rotation=180 queue_size=1"/>
    <node pkg="ubloxm8n" name="ubloxm8n_gps" type="ubloxm8n_gps.py" args="GGA RMC"/>
    <node pkg="ultrasonic" name="ultrasonic_sensor" type="ultrasonic_sensor.py"/>
    
    <!--
    export ROS_HOSTNAME=nuujoyRPi4
    export ROS_IP=192.168.254.123
    export ROS_MASTER_URI=http://192.168.254.118:11311/
    roslaunch asurada_rpi4tt02 asurada_rpi4tt02_rover.launch 
    
    rosrun hayato_kazami hayato_drive.py
    rosrun pca9685 pwm_control.py
    rosrun raspi_sensehat sensehat_sensor_acq.py 10 1 accxyz accrpy gyrxyz magxyz envall
    rosrun raspi_picamera picamera_frame_acq.py sensor_mode=5 resolution=[820,466] framerate=10 resize=None rotation=180 queue_size=1
    rosrun ubloxm8n ubloxm8n_gps.py GGA RMC
    rosrun ultrasonic ultrasonic_sensor.py
    -->
</launch>
